spring:
  datasource:
    url: ${}
    username: ${finance_user}
    password: ${finance_db}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
